head, body {
  font-family: Arial, Verdana, serif;
}

h1 {
  border-style: double;
}

h2 {
  font-weight: bold;
}
   
#paragraph { 
    float:left;
    width:60%;
    margin-left:30px;
} 

#image {
  float:left; 
  width:50%; 
  
  }
