head, body {
  font-family: Arial, Verdana, serif;
}

h1 {
  border-style: double;
}

h2 {
  font-weight: bold;
}

#paragraph { 
    height:60px;
    text-align:left;
    width: 20%;
} 

#image {
  margin-top:8.5px;
  margin-left:5px;
  display:inline
  }
   

