head, body {
  font-family: Arial, Verdana, serif;
}

h1 {
  border-style: double;
}

h2 {
  font-weight: bold;
}

#paragraph { 
    text-align:left;
    margin-left: 10px;
} 

#image {
  margin-top:8.5px;
  margin-left:60px;
  display:inline
  }
   

